<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>cadastroCaixa.jsp</servlet-name>
        <jsp-file>/Caixa/cadastroCaixa.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>consultaCaixa.jsp</servlet-name>
        <jsp-file>/Caixa/consultaCaixa.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>cadastroMunicipio.jsp</servlet-name>
        <jsp-file>/Municipio/cadastroMunicipio.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>consultaRelatorioMovimentacaoCaixa.jsp</servlet-name>
        <jsp-file>/Relatorio/MovimentacaoCaixa/consultaRelatorioMovimentacaoCaixa.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>consultaRelatorioDiscrepanciaEixos.jsp</servlet-name>
        <jsp-file>/Relatorio/DiscrepanciaEixos/consultaRelatorioDiscrepanciaEixos.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>consultaRelatorioFuncionamentoSistema.jsp</servlet-name>
        <jsp-file>/Relatorio/FuncionamentoSistema/consultaRelatorioFuncionamentoSistema.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>consultaRelatorioMovimentacaoPistaIsenta.jsp</servlet-name>
        <jsp-file>/Relatorio/MovimentacaoPistaIsenta/consultaRelatorioMovimentacaoPistaIsenta.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>consultaRelatorioMovimentacaoVeiculos.jsp</servlet-name>
        <jsp-file>/Relatorio/MovimentacaoVeiculos/consultaRelatorioMovimentacaoVeiculos.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>consultaRelatorioPrevisaoValePedagio.jsp</servlet-name>
        <jsp-file>/Relatorio/PrevisaoValePedagio/consultaRelatorioPrevisaoValePedagio.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>consultaRelatorioRealizadoValePedagio.jsp</servlet-name>
        <jsp-file>/Relatorio/RealizadoValePedagio/consultaRelatorioRealizadoValePedagio.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>consultaRelatorioSemParar.jsp</servlet-name>
        <jsp-file>/Relatorio/SemParar/consultaRelatorioSemParar.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>consultaMunicipio.jsp</servlet-name>
        <jsp-file>/Municipio/consultaMunicipio.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>consultaLogVisualizacaoRelatorios.jsp</servlet-name>
        <jsp-file>/Log/VisualizacaoRelatorios/consultaLogVisualizacaoRelatorios.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>consultaLogSistema.jsp</servlet-name>
        <jsp-file>/Log/Sistema/consultaLogSistema.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>consultaLogReimpressaoRecibos.jsp</servlet-name>
        <jsp-file>/Log/ReimpressaoRecibos/consultaLogReimpressaoRecibos.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>consultaGrupoControleAcesso.jsp</servlet-name>
        <jsp-file>/Ferramentas/GrupoControleAcesso/consultaGrupoControleAcesso.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>cadastraGrupoControleAcesso.jsp</servlet-name>
        <jsp-file>/Ferramentas/GrupoControleAcesso/cadastraGrupoControleAcesso.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>cadastroClassificacao.jsp</servlet-name>
        <jsp-file>/Classificacao/cadastroClassificacao.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>consultaClassificacao.jsp</servlet-name>
        <jsp-file>/Classificacao/consultaClassificacao.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>cadastroIsento.jsp</servlet-name>
        <jsp-file>/Isento/cadastroIsento.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>consultaIsento.jsp</servlet-name>
        <jsp-file>/Isento/consultaIsento.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>cadastroEstado.jsp</servlet-name>
        <jsp-file>/Estado/cadastroEstado.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>consultaEstado.jsp</servlet-name>
        <jsp-file>/Estado/consultaEstado.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>consultaEmpresa.jsp</servlet-name>
        <jsp-file>/Empresa/consultaEmpresa.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>ConsultaEmpresa</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.ConsultaEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaEstado</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.ConsultaEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroEstado</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.CadastroEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaIsento</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.ConsultaIsento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroIsento</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.CadastroIsento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroClassificacao</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.CadastroClassificacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaClassificacao</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.ConsultaClassificacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaMunicipio</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.ConsultaMunicipio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroMunicipio</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.CadastroMunicipio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaFuncionario</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.ConsultaFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaRelatorioMovimentacaoCaixa</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.ConsultaRelatorioMovimentacaoCaixa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImprimirRelatorioMovimentacaoCaixa</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.ImprimirRelatorioMovimentacaoCaixa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaRelatorioMovimentacaoVeiculos</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.ConsultaRelatorioMovimentacaoVeiculos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaRelatorioDiscrepanciaEixos</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.ConsultaRelatorioDiscrepanciaEixos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaRelatorioFuncionamentoSistema</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.ConsultaRelatorioFuncionamentoSistema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteracaoFechamentoCaixa</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.AlteracaoFechamentoCaixa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaLogSistema</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.ConsultaLogSistema</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaLogReimpressaoRecibos</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.ConsultaLogReimpressaoRecibos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaLogRelatorio</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.ConsultaLogRelatorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroFuncionario</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.CadastroFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletTeste</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.servletTeste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaGrupoControleAcesso</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.ConsultaGrupoControleAcesso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdicionaItem</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.AdicionaItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverItem</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.RemoverItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastraGrupoControleAcesso</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.CadastraGrupoControleAcesso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarItem</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.AlterarItem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaRelatorioMovimentacaoPistaIsenta</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.ConsultaRelatorioMovimentacaoPistaIsenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteraParametrosSistema</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.AlteraParametrosSistema</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>cadastroCaixa.jsp</servlet-name>
        <url-pattern>/Caixa/Cadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaCaixa.jsp</servlet-name>
        <url-pattern>/Caixa/Consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaEmpresa.jsp</servlet-name>
        <url-pattern>/Empresa/Consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaEstado.jsp</servlet-name>
        <url-pattern>/Estado/Consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastroEstado.jsp</servlet-name>
        <url-pattern>/Estado/Cadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaIsento.jsp</servlet-name>
        <url-pattern>/Isento/Consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastroClassificacao.jsp</servlet-name>
        <url-pattern>/Classificacao/Cadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaClassificacao.jsp</servlet-name>
        <url-pattern>/Classificacao/Consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastroMunicipio.jsp</servlet-name>
        <url-pattern>/Municipio/Cadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaMunicipio.jsp</servlet-name>
        <url-pattern>/Municipio/Consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastroIsento.jsp</servlet-name>
        <url-pattern>/Isento/Cadastro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cadastroBanco.jsp</servlet-name>
        <jsp-file>/Banco/cadastroBanco.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>cadastroEmpresa.jsp</servlet-name>
        <jsp-file>/Empresa/cadastroEmpresa.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>consultaLogAcesso.jsp</servlet-name>
        <jsp-file>/Log/Acesso/consultaLogAcesso.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>cadastroEmpresa.jsp</servlet-name>
        <url-pattern>/Empresa/Cadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastroBanco.jsp</servlet-name>
        <url-pattern>/Banco/Cadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaRelatorioMovimentacaoCaixa.jsp</servlet-name>
        <url-pattern>/Relatorio/MovimentacaoCaixa/Consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaRelatorioDiscrepanciaEixos.jsp</servlet-name>
        <url-pattern>/Relatorio/DiscrepanciaEixos/Consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaRelatorioFuncionamentoSistema.jsp</servlet-name>
        <url-pattern>/Relatorio/FuncionamentoSistema/Consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaRelatorioMovimentacaoPistaIsenta.jsp</servlet-name>
        <url-pattern>/Relatorio/MovimentacaoPistaIsenta/Consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaRelatorioMovimentacaoVeiculos.jsp</servlet-name>
        <url-pattern>/Relatorio/MovimentacaoVeiculos/Consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaRelatorioPrevisaoValePedagio.jsp</servlet-name>
        <url-pattern>/Relatorio/PrevisaoValePedagio/Consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaRelatorioRealizadoValePedagio.jsp</servlet-name>
        <url-pattern>/Relatorio/RealizadoValePedagio/Consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaRelatorioSemParar.jsp</servlet-name>
        <url-pattern>/Relatorio/SemParar/Consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaLogAcesso.jsp</servlet-name>
        <url-pattern>/Log/Acesso/Consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaLogVisualizacaoRelatorios.jsp</servlet-name>
        <url-pattern>/Log/VisualizacaoRelatorios/Consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaLogSistema.jsp</servlet-name>
        <url-pattern>/Log/Sistema/Consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaLogReimpressaoRecibos.jsp</servlet-name>
        <url-pattern>/Log/ReimpressaoRecibos/Consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaGrupoControleAcesso.jsp</servlet-name>
        <url-pattern>/Ferramentas/GrupoControleAcesso/Consulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastraGrupoControleAcesso.jsp</servlet-name>
        <url-pattern>/Ferramentas/GrupoControleAcesso/Cadastro</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>home.jsp</servlet-name>
        <jsp-file>/home.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>index.jsp</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>logout.jsp</servlet-name>
        <jsp-file>/logout.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>home.jsp</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>index.jsp</servlet-name>
        <url-pattern>/Smarttoll</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logout.jsp</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CadastroCaixa</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.CadastroCaixa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroBanco</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.CadastroBanco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>teste</servlet-name>
        <servlet-class>salcam.smarttoll.utils.teste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaCaixa</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.ConsultaCaixa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroEmpresa</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.CadastroEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaLogLogin</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.ConsultaLogLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroCaixa</servlet-name>
        <url-pattern>/Caixa/CadastroCaixa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroBanco</servlet-name>
        <url-pattern>/Banco/CadastroBanco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teste</servlet-name>
        <url-pattern>/teste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaCaixa</servlet-name>
        <url-pattern>/Caixa/ConsultaCaixa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroEmpresa</servlet-name>
        <url-pattern>/Empresa/CadastroEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaLogLogin</servlet-name>
        <url-pattern>/Log/Acesso/ConsultaLogLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaEmpresa</servlet-name>
        <url-pattern>/Empresa/ConsultaEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaEstado</servlet-name>
        <url-pattern>/Estado/ConsultaEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroEstado</servlet-name>
        <url-pattern>/Estado/CadastroEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaIsento</servlet-name>
        <url-pattern>/Isento/ConsultaIsento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroIsento</servlet-name>
        <url-pattern>/Isento/CadastroIsento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroClassificacao</servlet-name>
        <url-pattern>/Classificacao/CadastroClassificacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaClassificacao</servlet-name>
        <url-pattern>/Classificacao/ConsultaClassificacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaMunicipio</servlet-name>
        <url-pattern>/Municipio/ConsultaMunicipio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroMunicipio</servlet-name>
        <url-pattern>/Municipio/CadastroMunicipio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaFuncionario</servlet-name>
        <url-pattern>/ConsultaFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaRelatorioMovimentacaoCaixa</servlet-name>
        <url-pattern>/Relatorio/MovimentacaoCaixa/ConsultaRelatorioMovimentacaoCaixa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImprimirRelatorioMovimentacaoCaixa</servlet-name>
        <url-pattern>/Relatorio/MovimentacaoCaixa/ImprimirRelatorioMovimentacaoCaixa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaRelatorioMovimentacaoVeiculos</servlet-name>
        <url-pattern>/Relatorio/MovimentacaoVeiculos/ConsultaRelatorioMovimentacaoVeiculos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaRelatorioDiscrepanciaEixos</servlet-name>
        <url-pattern>/Relatorio/DiscrepanciaEixos/ConsultaRelatorioDiscrepanciaEixos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaRelatorioFuncionamentoSistema</servlet-name>
        <url-pattern>/Relatorio/FuncionamentoSistema/ConsultaRelatorioFuncionamentoSistema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteracaoFechamentoCaixa</servlet-name>
        <url-pattern>/Ferramentas/FechamentoCaixas/AlteracaoFechamentoCaixa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaLogSistema</servlet-name>
        <url-pattern>/Log/Sistema/ConsultaLogSistema</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaLogReimpressaoRecibos</servlet-name>
        <url-pattern>/Log/ReimpressaoRecibos/ConsultaLogReimpressaoRecibos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaLogRelatorio</servlet-name>
        <url-pattern>/Log/VisualizacaoRelatorios/ConsultaLogRelatorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroFuncionario</servlet-name>
        <url-pattern>/Funcionario/CadastroFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet</servlet-name>
        <url-pattern>/Estrutura/servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletTeste</servlet-name>
        <url-pattern>/servletTeste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaGrupoControleAcesso</servlet-name>
        <url-pattern>/Ferramentas/GrupoControleAcesso/ConsultaGrupoControleAcesso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdicionaItem</servlet-name>
        <url-pattern>/Ferramentas/GrupoControleAcesso/AdicionaItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverItem</servlet-name>
        <url-pattern>/Ferramentas/GrupoControleAcesso/RemoverItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastraGrupoControleAcesso</servlet-name>
        <url-pattern>/Ferramentas/GrupoControleAcesso/CadastraGrupoControleAcesso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarItem</servlet-name>
        <url-pattern>/Ferramentas/GrupoControleAcesso/AlterarItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaRelatorioMovimentacaoPistaIsenta</servlet-name>
        <url-pattern>/Relatorio/MovimentacaoPistaIsenta/ConsultaRelatorioMovimentacaoPistaIsenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteraParametrosSistema</servlet-name>
        <url-pattern>/Parametros/AlteraParametrosSistema</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
