<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <servlet>
        <servlet-name>cadastroCaixa.jsp</servlet-name>
        <jsp-file>/Caixa/cadastroCaixa.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>consultaCaixa.jsp</servlet-name>
        <jsp-file>/Caixa/consultaCaixa.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>cadastroCaixa.jsp</servlet-name>
        <url-pattern>/Caixa/Cadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaCaixa.jsp</servlet-name>
        <url-pattern>/Caixa/Consulta</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>cadastroBanco.jsp</servlet-name>
        <jsp-file>/Banco/cadastroBanco.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>cadastroEmpresa.jsp</servlet-name>
        <jsp-file>/Empresa/cadastroEmpresa.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>consultaLogAcesso.jsp</servlet-name>
        <jsp-file>/Log/Acesso/consultaLogAcesso.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>cadastroEmpresa.jsp</servlet-name>
        <url-pattern>/Empresa/Cadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cadastroBanco.jsp</servlet-name>
        <url-pattern>/Banco/Cadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>consultaLogAcesso.jsp</servlet-name>
        <url-pattern>/Log/Acesso/Consulta</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>home.jsp</servlet-name>
        <jsp-file>/home.jsp</jsp-file>
    </servlet>    
    <servlet>
        <servlet-name>index.jsp</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>    
    <servlet>
        <servlet-name>logout.jsp</servlet-name>
        <jsp-file>/logout.jsp</jsp-file>
    </servlet>
        <servlet-mapping>
        <servlet-name>home.jsp</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>    
    <servlet-mapping>
        <servlet-name>index.jsp</servlet-name>
        <url-pattern>/Smarttoll</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
        <servlet-name>logout.jsp</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    
    
        
    <servlet>
        <servlet-name>CadastroCaixa</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.CadastroCaixa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroBanco</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.CadastroBanco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>teste</servlet-name>
        <servlet-class>salcam.smarttoll.utils.teste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaCaixa</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.ConsultaCaixa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroEmpresa</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.CadastroEmpresa</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultaLogLogin</servlet-name>
        <servlet-class>salcam.smarttoll.servlet.ConsultaLogLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroCaixa</servlet-name>
        <url-pattern>/Caixa/CadastroCaixa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroBanco</servlet-name>
        <url-pattern>/Banco/CadastroBanco</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>teste</servlet-name>
        <url-pattern>/teste</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaCaixa</servlet-name>
        <url-pattern>/Caixa/ConsultaCaixa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroEmpresa</servlet-name>
        <url-pattern>/Empresa/CadastroEmpresa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultaLogLogin</servlet-name>
        <url-pattern>/Log/Acesso/ConsultaLogLogin</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
